body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navBar {
    margin-bottom: 32px;
}

.navBar form {
    float: left;
    text-align: center;
}

.navBar br {
    margin: 5px;
    width: 100%;
}

.pageContent {
    margin: auto;    
    top: 100;
    left: 0;
    width: 98%;
}

.pageTitle {
    margin-bottom: 5px;
    text-decoration: underline;
    width: 70%;
}

.orgsDisplay {
    width: 70%;
}

.orgsList {
    display: block;
    float: left;
}

.orgsListTable {
    width: 600px;
}

.orgsListTable tr {
    text-align: center;
}

.orgsListTable tr:nth-child(even) {
    background-color: rgb(199, 228, 252);
}

.editOrgsMenu {
    float: right;
    position: relative;  
    width: 30%; 
}
